body{
  margin: 0;  
}
.container{
  width: 500px;
  height: 200px;
  background-color: #B90CB7;
  padding: 20px;
}
.bd{
  border: solid 20px #AA23D8;
  background-color: #15DF27;
}
 
.pd{
  background-color: #EF9C1B;
  padding: 20px;
 
}
.content{
  background-color: #fff;
  height: 100px;
  padding: 10px;
}